[Unit]
Description=Daily timer to cleanup password reset tokens for Tienda API

[Timer]
OnCalendar=daily
Persistent=true

[Install]
WantedBy=timers.target
